<div class='beerCard'>
  <img class='beerImg' src='{{image_url}}' alt='{{name}}' />
  <a href='/beer/{{id}}'>
    <h4 class='name'>{{name}}</h4>
  </a>
  <p class='description'>{{description}}</p>
  <p class='tagline'>{{tagline}}</p>
</div>